#viewResumeButton{
    color:white;
}

/*Resizing for Mobile and tablet*/
@media (max-width:768px)  {
    #badges{
        max-width: 100%;
        max-height: 100%;
    }
}

@media (max-width:767px) {
    #badges {
        max-width: 100%;
        max-height: 100%;
    }
}

@media (min-width:992px) {
    .portfolio img {
        max-width: 100%;
        max-height: 100%;
    }
}

@media (min-width:1200px) {
    .portfolio img {
        max-width: 100%;
        max-height: 100%;
    }
}
/*Resizing for Mobile and tablet*/



/*MEDIA QUEIRES FOR ABOVE FOLD*/
@media (max-width:768px)  {
    #firstName{

    }
    #lastName{

    }
    #title{
        
    }
}
@media (max-width:767px)  {
    
}
@media (max-width:992px)  {
    
}
@media (max-width:1200px)  {
/*MEDIA QUEIRES FOR ABOVE FOLD*/
}



/*InternalIssues Project*/
#InternalIssuesHeader{
background-color:#2C4E85;
}

#InternalIssuesTitle h1{
    color:#DFF0FE;
}

#InternalIssuesBody{
background-color:#DFF0FE;
}

#InternalIssuesFooter{
background-color:#2C4E85;
}
/*InternalIssues Project*/


/*CashflowCounter Project*/
#CashflowCounterHeader{
    background-color:#000;
}

#CashflowCounterTitle h1{
    color:#F9ED32;
}
  
#CashflowCounterBody{
    background-color:#F9ED32;
}

#CashflowCounterFooter{
    background-color:#000;
}
/*CashflowCounter Project*/



/*BrainBufferOverflow Project*/
#BrainBufferOverflowHeader{
    background-color:#6E80D4;
}

#BrainBufferOverflowTitle h1{
    color:#F48024;
}

#BrainBufferOverflowBody{
    background-color:#F48024;
}  
  
#BrainBufferOverflowFooter{
    background-color:#6E80D4;
}  
/*BrainBufferOverflow Project*/

  
/*FizzBuzz Project*/
#FizzBuzzHeader{
    background-color:#FFDE59;
}

#FizzBuzzComingSoon h1{
    color:white;
}

#FizzBuzzBody{
    background-color:#000;
    color:#FFDE59;
}

#FizzBuzzBody, .header-color {
    color:white;
}
  
#FizzBuzzFooter{
    background-color:#FFDE59;
}  
/*FizzBuzz Project*/


/*TacocatGrammar Project*/
#TacocatGrammarHeader{
    background-color:#A6A6A6;
}
  
#TacocatGrammarBody{
    background-color:#FFF;
}

#TacocatGrammarFooter{
    background-color:#A6A6A6;
} 
/*TacocatGrammar Project*/

  
/*Sunset Hills Project*/
#SunsetHillsHeader{
    background-color:#F0E440;
}
  
#SunsetHillsBody{
    background-color:#00B8F1;
}

#SunsetHillsFooter{
    background-color:#689F38;
} 
/*Sunset Hills Project*/


/*Knoobs BlogPost*/
#KnoobsHeader{
    background-color:#66A54E;
}
  
#KnoobsBody{
    background-color:#9cdd83;
}

#KnoobsFooter{
    background-color:#66A54E;
} 
/*Knoobs BlogPost*/


/*CICD Project*/
#CICDHeader{
    background-color:#BFD178;
}
  
#CICDBody{
    background-color:#C9E265
}

#CICDFooter{
    background-color:#BFD178;
} 
/*CICD Project*/


/*ComingSoon Project*/
#ComingSoonHeader{
    background-color:#0b2b84;
}

#ComingSoonBody{
    background-color:#264BAE;
    color:white;
}

#ComingSoonHeader h1{
    color:white;
}

#ComingSoonFooter{
    background-color:#0b2b84;
} 
/*CICD Project*/