#InternalIssuesHeader{
background-color:#2C4E85;
}

#InternalIssuesFooter{
background-color:#2C4E85;
}

#CashflowCounterHeader{
    background-color:#2C4E85;
}
  
#CashflowCounterFooter{
    background-color:#2C4E85;
}

#BrainBufferOverflowHeader{
    background-color:#2C4E85;
}
  
#BrainBufferFooter{
    background-color:#2C4E85;
}  
  
#FizzBuzzHeader{
    background-color:#2C4E85;
}
  
#Footer{
    background-color:#2C4E85;
}  
  