/*InternalIssues Project*/
#InternalIssuesHeader{
background-color:#2C4E85;
}

#InternalIssuesBody{
background-color:#DFF0FE;
}

#InternalIssuesFooter{
background-color:#2C4E85;
}
/*InternalIssues Project*/


/*CashflowCounter Project*/
#CashflowCounterHeader{
    background-color:#000;
}
  
#CashflowCounterHeader{
    background-color:#F9ED32;
}


#CashflowCounterFooter{
    background-color:#000;
}
/*CashflowCounter Project*/



/*BrainBufferOverflow Project*/
#BrainBufferOverflowHeader{
    background-color:#6E80D4;
}
  
#BrainBufferOverflowFooter{
    background-color:#6E80D4;
}  
/*BrainBufferOverflow Project*/

  
/*FizzBuzz Project*/
#FizzBuzzHeader{
    background-color:#FFDE59;
}
  
#FizzBuzzFooter{
    background-color:#FFDE59;
}  
/*FizzBuzz Project*/


/*TacocatGrammar Project*/
#TacocatGrammarHeader{
    background-color:#A6A6A6;
}
  
#TacocatGrammarFooter{
    background-color:#A6A6A6;
} 
/*TacocatGrammar Project*/

  
/*Sunset Hills Project*/
#SunsetHillsHeader{
    background-color:#F0E440;
}
  
#SunsetHillsFooter{
    background-color:#689F38;
} 
/*Sunset Hills Project*/
