#InternalIssuesHeader{
background-color:#2C4E85;
}

#InternalIssuesFooter{
background-color:#2C4E85;
}

#CashflowCounterHeader{
    background-color:#2C4E85;
}
  
#CashflowCounterFooter{
    background-color:#2C4E85;
}

BrainBufferOverflowHeader{
    background-color:#2C4E85;
}
  
#CashflowCounterFooter{
    background-color:#2C4E85;
}  
  