#InternalIssuesHeader{
background-color:#2C4E85;
}

#InternalIssuesFooter{
background-color:#2C4E85;
}

#CashflowCounterHeader{
    background-color:#000;
}
  
#CashflowCounterFooter{
    background-color:#000;
}

#BrainBufferOverflowHeader{
    background-color:#6E80D4;
}
  
#BrainBufferFooter{
    background-color:#6E80D4;
}  
  
#FizzBuzzHeader{
    background-color:#2C4E85;
}
  
#FizzBuzzFooter{
    background-color:#2C4E85;
}  
  