#InternalIssuesHeader{
background-color:#2C4E85;
}

#InternalIssuesFooter{
background-color:#2C4E85;
}

Header{
    background-color:#2C4E85;
  }
  
  #InternalIssuesFooter{
    background-color:#2C4E85;
  }
  
  