.modal-header{
    background-color:#2C4E85;
  }
  
  #InternalIssuesModal.modal-body{
    img:url("C:\Users\zach\Desktop\Coder Foundry\Week 1\Portfolio\images\portfolio");
  }
  
  .modal-footer{
    background-color:#2C4E85;
  }
  